<header class="navbar navbar-fixed-top" id="top">
	<div class="navbar-inner">
		<a class="pacifico brand pull-left" href="/">Scriptacular</a>

		<% if current_user %>
			<div class="btn-group pull-right" id="user-dropdown">
				<div class="btn-border">
					<a href="#user-dropdown" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
						<%= current_user.username %> <span class="caret"></span>
					</a>
				</div>

				<ul class="dropdown-menu">
					<li><%= link_to "Profile", user_path(current_user) %></li>
					<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
				</ul>
			</div>
		<% else %>
			<div class="btn-group pull-right">
				<div class="btn-border">
					<%= link_to "Log In", login_path, class: 'btn btn-inverse' %>
					<%= link_to "Sign Up", signup_path, class: 'btn btn-inverse' %>
				</div>
			</div>
		<% end %>

		<div class="btn-group pull-right" id="javascript-libraries-dropdown-trigger">
			<div class="btn-border">
				<a href="#javascript-libraries-dropdown-trigger" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">JavaScript Libraries <span class="caret"></span></a>
			</div>

			<ul class="dropdown-menu" id="javascript-libraries-dropdown">
			</ul>
		</div>

		<% if @versions %>
			<div class="btn-group pull-right" id="version-dropdown">
				<div class="btn-border">
					<a href="#version-dropdown" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
						Version <%= @the_version %>
						<%# if @the_version == @version_count then '<span class="label label-inverse">Latest</span> '.html_safe end %><span class="caret"></span>
					</a>
				</div>

				<ul class="dropdown-menu" id="project-versions-dropdown">
					<% @versions.each do |version| %>
						<%# TODO messy %>
						<% reified = version.next ? version.next.reify : @latest_version %>
						<li>
							<a href=<%= "/#{@the_id}/#{version.index + 1}" %>>
								Version <%= version.index + 1 %>
								<span class="who">
									(by <%= reified.user_id ? reified.user.username : 'anon' %>)
								</span>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="btn-group pull-right">
			<div class="btn-border">
				<button class="pull-right btn btn-inverse" id="save-project">Save</button>
			</div>
		</div>
	</div>
</header>

<%= form_for @project do |f| %>
	<%= f.hidden_field :libraries %>

	<div class="tabbable tabs-left" id="editor-pane">
		<ul class="nav nav-tabs">
			<li class="active" class="markup"><a href="#tab-markup" id="tab-markup-trigger" data-toggle="tab">
				<div class="shortcut">⌃J</div>
				<div class="icon"></div>
				Markup
			</a></li>
			<li class="style"><a href="#tab-style" id="tab-style-trigger" data-toggle="tab">
				<div class="shortcut">⌃K</div>
				<div class="icon"></div>
				Style
			</a></li>
			<li class="script"><a href="#tab-script" id="tab-script-trigger" data-toggle="tab">
				<div class="shortcut">⌃L</div>
				<div class="icon"></div>
				Script
			</a></li>
			<li class="result"><a href="#tab-result" id="tab-result-trigger" data-toggle="tab">
				<div class="shortcut">⌃;</div>
				<div class="icon"></div>
				Result
			</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-markup">
				<%= f.text_area :markup %>
			</div>
			<div class="tab-pane" id="tab-style">
				<%= f.text_area :style %>
			</div>
			<div class="tab-pane" id="tab-script">
				<%= f.text_area :script %>
			</div>
			<div class="tab-pane" id="tab-result"></div>
		</div>
	</div>
<% end %>

<% if flash[:info] %>
	<div class="alert alert-block alert-info">
		<button class="close" data-dismiss="alert">&times;</button>
		<h4>Hey there.</h4>
		<p><%= flash[:info] %></p>
	</div>
<% end %>

<% if flash[:error] %>
	<div class="alert alert-error alert-block">
		<button class="close" data-dismiss="alert">&times;</button>
		<h4>Uh oh!</h4>
		<p><%= flash[:error] %></p>
	</div>
<% end %>